In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('insurance_data.csv')
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [4]:
x = df.drop('bought_insurance', axis = 'columns')
x.head()

   age
0   22
1   25
2   47
3   52
4   46

In [6]:
y = df['bought_insurance']
y.head()

0    0
1    0
2    1
3    0
4    1
Name: bought_insurance, dtype: int64

In [ ]:
from sklearn.model_selection import